$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$gray: #b9b9c2;
$gray-light: #eaeaea;
$gray-dark: #2d384c;
$blue: #4a85fb;
$blue-dark: #273041;
$main-color: #f7f8fa;
$blue-light: #475d8c;

$container-width: 960px;

@mixin main_font {
	font-family: "Roboto Slab", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	color: $blue-dark;
}

@mixin position($pos){
	-webkit-position: $pos;
	-moz-position: $pos;
	-ms-position: $pos;
	-o-position: $pos;
	position: $pos;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {

	// For Firefox
	scrollbar-width: thin;
	scrollbar-color: $background-color $foreground-color;

	// For Google Chrome
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}

	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	&::-webkit-scrollbar-track {
		background: $background-color;
	}

	// For Internet Explorer
	& {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}
